:root {

  --gray-900: #121214;
  --gray-700: #202024;
  --gray-600: #29292e;
  --gray-400: #a8a8b3;
  --purple-600: #996dff;
  --white: #ffffff;

}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  --webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button, select { 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  background-color: transparent;
}